# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment files
.env
.env.*

# SQLite database
*.sqlite3
db.sqlite3

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp

# Translations
*.pot

# macOS
*.DS_Store
